{
  "extends": "react-static/.babelrc",
  "presets": ["@emotion/babel-preset-css-prop"],
  "plugins": [
    "babel-plugin-module-resolver",
    "babel-plugin-import-glob",
    "babel-plugin-transform-md-import-to-string"
  ]
}
