html {
  font-family: 'Noto Sans KR', sans-serif;
}

strong {
  font-weight: 700;
}

p {
  margin: 0;
}

#root {
  max-width: 800px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  :root {
    font-size: 18px;
  }
}

pre[class*='language-'] {
  margin: 1.25rem 0;
  font-size: 0.9rem;
}

code:not([class*='language-']) {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  display: inline-block;
  background-color: #f5f5f5;
  padding: 0 4px;
  border-radius: 4px;
  border: 1px solid #eee;
  font-size: 0.85rem;
}
