* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans KR', 'Noto Sans JP', sans-serif;
}

strong {
  font-weight: 700;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 800px) {
  :root {
    font-size: 19px;
  }
}

article > pre[class*='language-'] {
  margin: 1.5rem 0;
  font-size: 0.9rem;
}

code:not([class*='language-']) {
  font-family: Menlo, Consolas, Monaco, 'Courier New', monospace;
  display: inline;
  background-color: #f5f5f5;
  padding: 0 4px;
  border-radius: 4px;
  border: 1px solid #eee;
  font-size: 0.85em;
}

hr {
  margin: 2.5rem 0;
  text-align: center;
  border: none;
}

hr::after {
  content: ' ';
  width: 50%;
  border-top: 1px solid #eee;
  display: inline-block;
}

small {
  color: #999;
  font-size: smaller;
}

.katex {
  font: 1.05em KaTeX_Main, Times New Roman, serif;
  line-height: 1.2;
  font-weight: inherit;
}
